<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gmail Label App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <style>
        /**
        * Fonts
        */
        
        @font-face {
            font-family: 'Karla';
            font-style: normal;
            font-weight: 400;
            src: local('Karla'), local('Karla-Regular'), url('./assets/fonts/Karla/Karla-Regular.woff2') format('woff2');
            unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
        }
        
        @font-face {
            font-family: 'Karla';
            font-style: normal;
            font-weight: 700;
            src: local('Karla Bold'), local('Karla-Bold'), url('./assets/fonts/Karla/Karla-Bold.woff2') format('woff2');
            unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
        }
        
        body,
        html {
            font: caption;
        }
    </style>
</head>

<body>
    <div id="app" class="content pure-g" style="display:none;">
        <div class="login" v-if="!signedIn">
            <button class="pure-button pure-button-primary button-xlarge" @click="handleAuthClick()">Login with Google</button>
        </div>
        <div v-if="signedIn" style="width: 100%;">
            <div id="nav" class="pure-u">
                <a href="#" class="nav-menu-button">Menu</a>
                <div class="nav-inner">
                    <div class="settings">
                        <div class="settings-title" @click="settingsOpen=!settingsOpen">Actions<span style="margin-left: 80%;font-size: 2em;">&#8964;</span></div>
                        <div class="settings-content" v-show="settingsOpen">
                            <button class="button-secondary pure-button  button-xsmall" @click="modalHidden = false">Create an Alert</button>
                            <button class="button-secondary pure-button  button-xsmall" @click="notificationEmailModalOpen = true">Notification Email</button>
                            <label for="delete" style="text-align: center;color: white; margin: 10px 0;">
                                <input id="delete" type="checkbox" v-on:change="deleteChanged($event)" v-model="deleteMessages"> Delete messages
                            </label>
                            <a style="color: white; text-decoration: underline; text-align: center; margin-top: 20px;color:rgb(202, 60, 60);font-style: italic;" @click="handleSignoutClick()">Logout</a>
                        </div>
                    </div>
                    <div class="pure-menu">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-heading">All Labels</li>
                            <li class="pure-menu-item" v-for="label in labels"><a class="pure-menu-link" @click="selectLabel(label)"><span class="email-label-personal"></span>{{ label.name }}</a></li>
                            <li class="pure-menu-heading" v-show="watchers.length > 0">Watchers</li>
                            <li class="pure-menu-item watcher" v-for="watcher in watchers"><span class="watcher__delete" @click="deleteWatcher(watcher)">&times;</span><a class="pure-menu-link watcher__link" @click="selectWatcher(watcher)">{{ getLabelName(watcher.labelA) }} - {{ getLabelName(watcher.labelB) }} ({{ watcher.time }})<img src="./assets/ring.svg" style="height:1em;" v-if="!watcher.active"/> <span class="watcher__notify active" v-if="watcher.active"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="list" class="pure-u-1" v-if="currentView == 1">
                <p v-if="emails.length == 0" style="font-weight: 300;color: #888; text-align:center;margin-top:50px;">No emails for this label :(</p>
                <div class="email-item pure-g" v-if="emails.length > 0" v-for="email in emails" :class="{'email-item-selected': selectedEmail == email }" @click="selectEmail(email)">
                    <div class="pure-u">
                        <img width="64" height="64" class="email-avatar" v-bind:src="getGravatarImage(getHeader(email.payload.headers, 'From'))">
                    </div>

                    <div class="pure-u-3-4">
                        <h5 class="email-name">{{ getHeader(email.payload.headers, 'From') }}</h5>
                        <h4 class="email-subject">{{ getHeader(email.payload.headers, 'Subject') }}</h4>
                        <p class="email-desc">
                            {{ email.snippet }}
                        </p>
                    </div>

                </div>
            </div>
            <div class="main" class="pure-u-1" v-if="currentView == 1">
                <message-content :selected-email="selectedEmail" v-if="!isEmpty(selectedEmail)">
                    No message
                </message-content>
            </div>
            <div class="main label-watcher-view" style="margin-left: -200px;letter-spacing: 0;padding:20px;" v-if="currentView == 2">
                <div class="left">
                    <h3>{{ getLabelName(selectedWatcher.labelA) }}</h3>
                    <label-watcher-messages :label-id="selectedWatcher.labelA"></label-watcher-messages>
                </div>
                <div class="right">
                    <h3>{{ getLabelName(selectedWatcher.labelB) }}</h3>
                    <label-watcher-messages :label-id="selectedWatcher.labelB"></label-watcher-messages>
                </div>
            </div>
        </div>
        <div class="modal" style="letter-spacing: 0;" :class="{ 'modal--hidden': modalHidden }">
            <!--<span class="modal__close" @click="modalHidden = true">&times;</span>-->
            <div class="modal__content">
                <form class="pure-form pure-form-aligned">
                    <span class="close" @click="modalHidden = true">&times;</span>
                    <fieldset>
                        <legend>Create a label watcher</legend>
                        <div class="pure-control-group">
                            <label for="label-a">Label A</label>
                            <select id="label-a" v-model="newWatcher.labelA">
                                <option v-for="label in sortedLabels" v-bind:value="label.id">{{ label.name }}</option>
                            </select>
                        </div>
                        <div class="pure-control-group">
                            <label for="label-b">Label B</label>
                            <select id="label-b" v-model="newWatcher.labelB">
                                <option v-for="label in sortedLabels" v-bind:value="label.id">{{ label.name }}</option>
                            </select>
                        </div>
                        <div class="pure-control-group">
                            <label for="time">Time Between Messages (in seconds)</label>
                            <input id="time" type="number" v-model="newWatcher.time">
                        </div>

                        <div class="pure-controls">
                            <button class="pure-button pure-button-primary" @click="setWatcher($event)">Start Watching</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="modal" style="letter-spacing: 0;" v-if="notificationEmailModalOpen">
            <!--<span class="modal__close" @click="modalHidden = true">&times;</span>-->
            <div class="modal__content">
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <legend>Set a notification email</legend>
                        <div class="pure-control-group">
                            <label for="email">Notification Email</label>
                            <input type="email" v-model="notificationEmail">
                        </div>

                        <div class="pure-controls">
                            <button class="pure-button pure-button-primary" @click="saveNotificationEmail($event)">Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script type="text/template" id="label-watcher-messages">
        <div>
            <p v-if="messages.length == 0" style="font-weight: 300;color: #888; text-align:center;margin-top:50px;">No emails for this label :(</p>
            <div class="email-item pure-g" v-if="messages.length > 0" v-for="message in messages">
                <div class="pure-u">
                    <img width="64" height="64" class="email-avatar" v-bind:src="getGravatarImage(getHeader(message.payload.headers, 'From'))">
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">{{ getHeader(message.payload.headers, 'From') }}</h5>
                    <h4 class="email-subject">{{ getHeader(message.payload.headers, 'Subject') }}</h4>
                    <p class="email-desc">
                        {{ message.snippet }}
                    </p>
                </div>

            </div>
        </div>
    </script>
    <script type="text/template" id="message-content">
        <div class="email-content">
            <div class="email-content-header">
                <div class="pure-u-3-4">
                    <h3 class="email-content-title">{{ getHeader(selectedEmail.payload.headers, 'Subject') }}</h3>
                    <p class="email-content-subtitle">
                        From <a>{{ getHeader(selectedEmail.payload.headers, 'From') }}</a> at <span>{{ getHeader(selectedEmail.payload.headers, 'Date') }}</span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-4">
                    <a class="secondary-button pure-button" :href="'mailto:' + getHeader(selectedEmail.payload.headers, 'From')">Reply</a>
                </div>
            </div>

            <div class="email-content-body">
                <p style="letter-spacing: 0;" v-html="getBody(selectedEmail.payload)"></p>
            </div>
        </div>
    </script>
    <link rel="stylesheet" href="./prod/app.css">
    <script src="./prod/vue.min.js"></script>
    <script src="./prod/app.js"></script>
</body>

</html>