/**
* Colors
*/

$alto: #ddd;
$mine_shaft: #333;
$dodger_blue: #1b98f8;
$white: #fff;
$storm_dust: #666;
$ebony_clay: rgb(37, 42, 58);
$pickled_bluewood: rgb(55, 60, 90);
$kashmir_blue: rgb(75, 113, 151);
$golden_tainoi: #ffc94c;
$puerto_rico: #41ccb4;
$emerald: #40c365;
$mountain_mist: #999;
$gallery: #eee;

/**
* Components
*/

%label {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}

.primary-button {
    box-shadow: none;
    border-radius: 20px;
    color: $white;
    background: $dodger_blue;
    margin: 1em 0;
}

.secondary-button {
    box-shadow: none;
    border-radius: 20px;
    background: $white;
    border: 1px solid $alto;
    color: $storm_dust;
    padding: 0.5em 2em;
    font-size: 80%;
}

.modal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba($ebony_clay, 0.95);
    color: $alto;
    z-index: 9999;
    form {
        background: white;
        margin-top: 40%;
        padding: 20px;
        color: $ebony_clay;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba($white, 0.25);
        position: relative;
        .close {
            position: absolute;
            top: 1%;
            right: 1%;
            font-size: 150%;
            display: inline-block;
            padding: 10px;
            height: 20px;
            width: 20px;
            color: $mountain_mist;
        }
        label {
            text-align: left!important;
        }
    }
    &__close {
        position: absolute;
        top: 3%;
        right: 5%;
        font-size: 250%;
        text-shadow: 1px 1px 0px #000;
        display: inline-block;
        padding: 10px;
        height: 20px;
        width: 20px;
        span {
            position: relative;
            top: -23px;
            left: -.5px;
        }
    }
    &--hidden {
        display: none;
    }
}


/**
* General
*/

body {
    color: $mine_shaft;
}

a {
    text-decoration: none;
    color: $dodger_blue;
}

#app {
    margin: 0;
    padding: 0;
}

#nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    position: relative;
    background: $ebony_clay;
    text-align: center;
    .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
    &.active {
        height: 80%;
        .nav-inner {
            display: block;
            padding: 2em 0;
        }
    }
    .pure-menu {
        background: transparent;
        border: none;
        text-align: left;
    }
    .pure-menu-link {
        color: $white;
        margin-left: 0.5em;
        &:hover {
            background: $pickled_bluewood;
        }
        &:focus {
            background: $pickled_bluewood;
        }
    }
    .pure-menu-heading {
        border-bottom: none;
        font-size: 110%;
        color: $kashmir_blue;
    }
    button {
        // margin: 5px 0;
    }
    .settings {
        text-align: left;
        position: relative;
        &-title {
            padding: 20px 10px;
            color: #f7f7f7;
            background: #1f2431;
            &:hover {
                background: rgb(55, 63, 86);
            }
        }
        &-content {
            z-index: 2;
            padding: 40px 10px;
            background: rgb(55, 63, 86);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            transition: all 0.5s ease-in-out;
            &--hidden {
                display: none;
            }
        }
    }
}

#list {
    margin: 0;
    padding: 0;
}

#main {
    margin: 0;
    padding: 0;
}

.nav-inner {
    display: none;
}

.email-count {
    color: $kashmir_blue;
}

.email-label-personal {
    @extend %label;
    background: $golden_tainoi;
}

.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid $alto;
    border-left: 6px solid transparent;
}

.email-avatar {
    border-radius: 3px;
    margin-right: 0.5em;
    width: 40px;
    height: 40px;
}

.email-name {
    margin: 0;
    text-transform: uppercase;
    color: $mountain_mist;
}

.email-subject {
    margin: 0;
}

.email-desc {
    font-size: 80%;
    margin: 0.4em 0;
}

.email-item-selected {
    background: $gallery;
}

.email-item-unread {
    border-left: 6px solid $dodger_blue;
}

.email-content-header {
    padding: 1em 2em;
    border-bottom: 1px solid $alto;
}

.email-content-body {
    padding: 1em 2em;
}

.email-content-footer {
    padding: 1em 2em;
}

.email-content-title {
    margin: 0.5em 0 0;
}

.email-content-subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
    span {
        color: $mountain_mist;
    }
}

.email-content-controls {
    margin-top: 2em;
    text-align: right;
    .secondary-button {
        margin-bottom: 0.3em;
    }
}

@media(min-width: 40em) {
    #app {
        padding-left: 600px;
        position: relative;
    }
    #nav {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
        margin-left: -600px;
        width: 400px;
        height: 100%;
        .nav-menu-button {
            display: none;
        }
    }
    #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
        margin-left: -200px;
        width: 100%;
        height: 33%;
        border-bottom: 1px solid $alto;
    }
    .nav-inner {
        display: block;
        padding: 2em 0;
    }
    .main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto;
        padding-left: 150px;
    }
}

@media(min-width: 60em) {
    #list {
        margin-left: -200px;
        width: 350px;
        height: 100%;
        border-right: 1px solid $alto;
    }
    .main {
        position: static;
        margin: 0;
        padding: 0;
        padding-left: 150px;
    }
}

.login button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.watcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__link {
        width: 100%;
        margin: 0;
    }
    &__notify {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #d3d3d3;
        display: inline-block;
        &.active {
            background: red;
            box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.25);
        }
    }
    &__delete {
        color: #585a67;
        margin-left: 20px;
        font-size: 1.3em;
    }
}

.label-watcher-view {
    display: flex;
    flex-direction: row;
    .left {
        width: 49.5%;
        border-right: 1px solid #ddd;
        padding: 10px;
    }
    .right {
        width: 49.5%;
        padding: 10px;
    }
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 1em;
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: $dodger_blue;
    /* this is a light blue */
}